body {
	background-color: black;
}

.container {
	overflow:hidden;
	width:500px;
	height:500px;
	position: relative;
}

img {
	display:inline;
	position:absolute;
	float:left;
	width:90px;
	height:90px;
}